<div class="main-container">
  <h2>All Pets</h2>
    <br>
    <br>

  <div class="well bs-component" id="pet-index-flex">
      <% @pets.each do |pet| %>
        <p>
      		<%= image_tag("#{pet.photo}", :size => "250x250", :crop => :fill, :class => "animal-pic") %>
        	<br>
          <span class="pet-details">

            <%= pet.name %> <%= link_to like_path(pet.id) do %>
              <i class="fa fa-heart" aria-hidden="true"></i>
            <% end %>
            </span>
            <br>
            <span class="pet-details">
          	   <strong>Gender:</strong> <%= pet.sex %>
            </span>
            <br>
            <span class="pet-details">
          	   <strong>Age:</strong> <%= pet.age %>
            </span>
            <br>
            <span class="pet-details">
          	   <%= link_to "Pet Details", "pets/#{pet.id}" %>
            </span>
          </span>

        </p>
      <% end %>
  </div>
</div>

