<div class="main-container">
  <h1>Pet Details</h1>
  <br>
    <div class="well bs-component">
      <section class="user_info">
        <h2><%= @pet.name %></h2>
        <br>
        	<%= image_tag("#{@pet.photo}", :size => "250x250", :crop => :fill, :class => "animal-pic") %>

      </section>

      <section>
        <br>
      	<h4>Pet Details</h4>
      	<strong>Gender:</strong> <%= @pet.sex %><br>
        <strong>Age:</strong> <%= @pet.age %><br>
        <strong>Breed:</strong> <%= @pet.breed %><br>
        <strong>Size:</strong> <%= @pet.size %>

        <br>
        <br>

        <h4>Description</h4>
        <%= @pet.description %>

    		<br>
        <br>

        <h4>Shelter Information:</h4>
        <%= @pet.address1 %> <%= @pet.address2 %> <%= @pet.city %>, FL <%= @pet.zip %>
        <br>
        <%= @pet.phone %>
        <br>
        <%= @pet.email %>
        

      </section>
    </div>

</div>
