<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.first_name %> <%= @user.last_name %>
      </h1>
    </section>
  </aside>
</div>

<div>
	<h3>Your Future Friends</h3>
	<% current_user.selected_pets.each do | spet | %>
		<%= image_tag("#{spet.pet.photo}", :size => "250x250", :crop => :fill) %>
		<%= spet.pet.name %>
		<a href="#">Pet Details</a>
	<% end %> 

</div>
