<div class="main-container">
	<div>
		<h2>About</h2>
		<br>
		Approximately 1.5 million sheltered animals are euthanized every year, and 6.5 million were impounded in 2015. Meanwhile, the rate of animals entering shelters rises every year and adoption rates have not.
		<br><br>
		Curious as to which pets are near you in the City of Miami? Here at OneStopAdopt, we strive to make navigating the animal adoption process easy for you. 

		<br><br>
		While we at OneStopAdopt encourage adopting shelter pets, we also encourage would-be owners to plan responsibly before adopting. Our site is powered by the <a target="_blank" href="https://www.petfinder.com/developers/api-docs">PetFinder API</a>, we provide a listing of dogs and cats in the City of Miami area. 
		<br> 

		<br>
		Are you a South Florida local interested in adopting a pet? We invite you to find your future friend! 

	</div>
	<br>

	<h4>Web Development Team</h4>

	<div class="developers">
		
		<span class="devpic"><%= image_tag("/", :size => "250x250", :crop => :fill, :class => "devpic") %><h5>Stephanie Ricardo</h5></span>

		<span class="devpic"><%= image_tag("/kevin.jpg", :size => "250x250", :crop => :fill, :class => "devpic") %><h5>Kevin Wong</h5></span>
		
		<span class="devpic"><%= image_tag("/alfonso.jpg", :size => "250x250", :crop => :fill, :class => "devpic") %><h5>Alfonso Estremadoyro</h5></span>

	</div>

	<br>
	<br>
	<br>
	<h4>Wellness Coordinators</h4>

	<div class="wellness-team">
		<span class="devpic">
		<%= image_tag("/neo-nala.jpg", :size => "250x250", :crop => :fill, :class => "devpic") %>
		<h5>Neo and Nala</h5></span>

		<span class="devpic">
		<%= image_tag("/", :size => "250x250", :crop => :fill, :class => "devpic") %>
		<h5>Annie</h5></span>
	</div>
</div>